<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/admin/airport_managing">
                        Manage airports
                    </a>
                </li>

                <li>
                    <a href="/admin/airline_managing">
                        Manage airlines
                    </a>
                </li>
                <li>
                    <a href="/admin/flight_managing">
                        Manage flights
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>