<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="a" uri="auth" %>
<fmt:setBundle basename="lang" var="rb" />
<a href="/">
    <img src="/resources/images/myLogo.png" width="100%"/>
</a>

<div class="navbar">
    <div>
        <nav style="margin:0 10% 0 4%;" class="navbar" role="navigation">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn" href="/find_tickets"><h4 class="glyphicon glyphicon-send">
                        <fmt:message key="ticket.find" bundle="${rb}"/></h4></a>
                </li>
                <a:if-user role="admin">
                    <li>
                        <a class="btn" href="/admin/airline_managing"><h4 class="glyphicon glyphicon-king">
                            <fmt:message key="administration" bundle="${rb}"/>
                        </h4></a>
                    </li>
                </a:if-user>

                <li>
                    <a class="btn" href="/user/personal_cabinet"><h4 class="glyphicon glyphicon-user">
                        <fmt:message key="personal.cabinet" bundle="${rb}"/></h4></a>
                </li>
                <a:if-user>
                    <li>
                        <a href="#" class="btn" onclick="logout()"><h4 class="glyphicon glyphicon-log-in"> <fmt:message key="logout.action" bundle="${rb}"/></title></h4>
                        </a>
                    </li>
                </a:if-user>
                <a:if-user role="none">
                    <li>
                        <a href="/login" class="btn"><h4 class="glyphicon glyphicon-log-in"> <fmt:message key="login.action" bundle="${rb}"/></title></h4></a>
                    </li>
                </a:if-user>


                <li class="dropdown">

                    <a class="dropdown-toggle " data-toggle="dropdown" href="#">
                        <h4 class="glyphicon glyphicon-globe">${locale eq 'uk_UA' ? 'ua' : 'en'}<span
                                class="caret"></span></h4>
                    </a>

                    <ul id = "lang" class="dropdown-menu" >
                        <li ><a href="#">English</a></li>
                        <li><a href="#">Українська</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>


<script src="/resources/js/navigation.js"></script>