<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <ul class="nav nav-pills nav-stacked">
                <li id="pers_cab">
                    <a href="/user/personal_cabinet">Personal information</a>
                </li>

                <li id="pers_tick">
                    <a href="/user/personal_tickets">
                        Personal tickets
                    </a>
                </li>

                <li id="unpaid_tic">
                    <a href="/user/unpaid_tickets">
                        Unpaid tickets
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>